body{
    background-size: cover;
    background-image: url(../img/backgrundsbild.png) ;
}

#hem_wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:140px 140px 1fr ;
    height: 1fr;
    row-gap: 20px;
    gap: 20 px;
    grid-template-areas:
    " . hd . "
    ". nav ."
    ". hem ."
    
    ;
}

#tips_wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:140px 140px 1fr ;
    height: 1fr;
    row-gap: 20px;
    gap: 20 px;
    grid-template-areas:
    " . hd . "
    ". nav ."
    ". tips ."
    
    ;
}

#blog_wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:140px 140px 1fr ;
    height: 1fr;
    row-gap: 20px;
    gap: 20 px;
    grid-template-areas:
    " . hd . "
    ". nav ."
    ". blog ."
    
    ;
}

header{
    grid-area: hd;
    display: flex ;
    width : 714px;
    height: 110px;
    justify-content: center;
    align-content: center;
    background-color: #27ae60;
    justify-self: center;
    border-radius: 15px 15px 15px 15px;
}

h1{
    justify-self: center;
    color: #000000;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: forestgreen;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #27ae60;
    
}

.runda a{
    flex: 1;
    color: #000000;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: #228b22;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #27ae60;
    text-decoration: none;
    align-content: center;
    border-radius: 15px 15px 15px 15px;

}

.runda a:hover{
    background-color: #000000;
    color: #27ae60;
}

p{
    color: #000000;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif ;
}

#hem_info{

    grid-area: hem;
    justify-self: center;
    background-color: #27ae60;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 1250px;
    gap: 50px;

    border-radius: 15px 15px 15px 15px;
    
    
    
}

#tips_info{
    grid-area: tips;
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

#blog_info{
    grid-area: blog;
    flex-direction: column;
    display: flex;
    
    gap: 50px;
}

nav{
    grid-area: nav;
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.bild_box{
    align-self: center;
    height: 1fr;
    
}

.nav_box{
    display: flex;
    background-size: cover;

    height: 110px;
    width: 383px;

    align-items: center;
    word-break: break-all;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
}

.tips_box{
    display: flex;
    background-color: #27ae60;
    
    width : 343px;
    height: 1fr;
    word-break: break-all;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
    
    padding: 20px;
    word-break: normal
    
}

.blog_box{
    display: flex;
    background-color: #27ae60;
    justify-content: center;
    
    height: 1fr;
    width: 1210px;
    word-break: break-all;

    border-radius: 15px 15px 15px 15px;

    padding: 20px;
}



#tips{
    background-image: url(../img/blog.jpg)
}

#blog{
    background-image: url(../img/DALL·E\ 2025-01-04\ 15.29.25\ -\ A\ visually\ engaging\ image\ for\ a\ travel\ blog\ on\ a\ website.\ The\ scene\ shows\ an\ open\ notebook\ or\ journal\ lying\ on\ a\ wooden\ table\ outdoors\,\ with\ a\ scenic\ .webp);
}

#hem{
    background-image: url(../img/hem.jpg) ;
}

.text{
    background-color: #27ae60;
    width : 1210px;
    height: 1fr;
    padding: 20px;
    
    word-break: normal
}

.runda{
    display: flex;
    border-radius: 15px 15px 15px 15px;
    background-color: #27ae60;

    
}

#dalle{
    width: 800px;
    height: 1fr;
}