body{
    background-size: cover;
    background-image: url(../img/backgrundsbild.png) ;
}

#wrapper{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:140px 140px 1fr ;
    height: 1fr;
    row-gap: 20px;
    gap: 20 px;
    grid-template-areas:
    " . hd . "
    ". sc2 ."
    ". sc1 ."
    
    ;
}

header{
    grid-area: hd;
    display: flex ;
    width : 714px;
    height: 110px;
    justify-content: center;
    align-content: center;
    background-color: #27ae60;
    justify-self: center;
    border-radius: 15px 15px 15px 15px;
}

h1{
    justify-self: center;
    color: navajowhite;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: forestgreen;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #27ae60;
    
}

.right a, .left a{
    flex: 1;
    color: navajowhite;
    -webkit-text-stroke-width: 1.8px;
    -webkit-text-stroke-color: forestgreen;
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif ;
    background-color: #27ae60;
    text-decoration: none;
    align-content: center;
    border-radius: 15px 15px 15px 15px;

}

.right a:hover, .left a:hover{
    background-color: navajowhite;
    color: #27ae60;
}

p{
    color: navajowhite;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif ;
}

#sc1{

    grid-area: sc1;
    justify-self: center;
    background-color: #27ae60;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 1200px;
    gap: 50px;

    border-radius: 15px 15px 15px 15px;
    
    
    
}

#sc2{
    grid-area: sc2;
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.box2{
    display: flex;
    background-size: cover;

    height: 110px;
    width: 383px;

    align-items: center;
    word-break: break-all;
    justify-content: center;
    border-radius: 15px 15px 15px 15px;
}

.box1{
    align-self: center;
    height: 1fr;
    
}

#tips{
    background-image: url(../img/DALL·E\ 2025-01-04\ 15.37.27\ -\ A\ captivating\ image\ representing\ the\ spirit\ of\ AdventureAtlas\,\ showcasing\ an\ adventurous\ traveler\ standing\ on\ a\ cliff\ overlooking\ a\ breathtaking\ and\ d.webp);
}

#blog{
    background-image: url(../img/DALL·E\ 2025-01-04\ 15.29.25\ -\ A\ visually\ engaging\ image\ for\ a\ travel\ blog\ on\ a\ website.\ The\ scene\ shows\ an\ open\ notebook\ or\ journal\ lying\ on\ a\ wooden\ table\ outdoors\,\ with\ a\ scenic\ .webp);
}

.text{
    background-color: #27ae60;
    width : 1200px;
    height: 1fr;
    
    word-break: normal
}

.right{
    display: flex;
    border-radius: 15px 15px 15px 15px;
    background-color: #27ae60;

    
}

.left{
    display: flex;
    border-radius: 15px 15px 15px 15px;
    background-color: #27ae60;
}

#dalle{
    width: 800px;
    height: 1fr;
}
